body {
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    margin-left: 230px;
    margin-top: 40px;
    margin-bottom: -10px;
    font-size: 40px;
    letter-spacing: 1px;
    font-weight: 300;
}


label {
    margin-bottom: 150px;
    font-weight: 600;
}

.forms, .tabela {
    display: inline;
    width: 120px;
}

.line {
    display: flex;
    justify-content: space-between;
    width: 70%;
    margin: 0 auto;
    margin-top: 20px;
}

.parte-um, .parte-dois {
    margin-bottom: 30px;
}

input {
    width: 400px;
    height: 25px;
    background-color: #fff;
    border: 1px solid #d1d1d1;
    border-radius: 4px;
    padding: 6px 10px;
    margin-top: 15px;
}

#botao-adicionar {
    color: #fff;
    background-color: #33c3f0;
    border: #33c3f0;
    border-radius: 4px;
    height: 38px;
    width: 130px;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: 1px;
    text-transform: uppercase;
}

h3 {
    width: 300px;
    font-size: 25px;
    font-weight: 300;
    margin-bottom: 30px;
}

#tabela-dados {
    border-bottom: 1px solid #e1e1e1;
    text-align: left;
    padding: 12px 15px;
    margin-top: 70px;
}
